@media screen and (max-width: 760px) {
    .galeriarecetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;

    }

}

/*RESPONSIVE PARA CELULAR*/
@media screen and (max-width: 450px) {
    .container {
        width: 80%;
    }

    #lacocinademargarita {
        width: 90vw;
        font-size: 45px;

    }

    .seccioninicio h2 {
        font-size: 40px;
    }

    .menuppal ul {
        flex-direction: column;
        height: 170px;
        width: 90vw;
        margin: auto;
        align-items: center;
    }

    .recetainicio {
        margin: auto;
        margin-top: 10px;
    }

    .galeriarecetas {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

    }

    .formulariocontacto {
        width: 70vw;
    }

    .texto_formulario,
    #dob,
    textarea {
        width: 65vw;

    }

}